# DEV
BACKEND_PORT=9000
FRONTEND_PORT=9001

# DOCKER
COMPOSE_PROJECT_NAME=fastapi-nuxt-template
APP_ENTRY_PORT=127.0.0.1:25000
DB_ENTRY_PORT=127.0.0.1:25001

# ROOT
DEBUG=True
TASKIQ_WORKERS=1
GUNICORN_WORKERS=1
TASKIQ_UPDATE_INTERVAL=30

SECRET_KEY=please-change-me-use-a-long-random-string-with-words-and-letters
ENCRYPTION_KEY=change-me-32-characters-minimum!

SQL_DATABASE=fastapi-nuxt-template-db
SQL_HOST=localhost
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_PORT=5432

CACHE_REDIS_URL=redis://localhost:6379/0
BROKER_REDIS_URL=redis://localhost:6379/1

# FRONTEND
NUXT_PUBLIC_BASE_URL=http://localhost:9000 # change to your domain in production
NUXT_PUBLIC_API_PREFIX=/api/v1
COOKIE_SECURE=False

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=
AWS_STORAGE_BUCKET_NAME=

# OTHER
