BACKEND_PORT=8000
FRONTEND_PORT=8080
APP_ENTRY_PORT=8080
DB_ENTRY_PORT=5432

NUXT_PUBLIC_BASE_URL=http://localhost:8000
NUXT_PUBLIC_API_PREFIX=/api/v1

SQL_PASSWORD=postgres
SQL_USER=postgres
SQL_DATABASE=postgres
SQL_HOST=localhost
SQL_PORT=5432

CACHE_REDIS_URL=redis://localhost:6379/1
BROKER_REDIS_URL=redis://localhost:6379/0

DEBUG=True
SECRET_KEY=change-me-use-a-long-random-string
ENCRYPTION_KEY=change-me-32-characters-minimum

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=
AWS_STORAGE_BUCKET_NAME=
