# DEV
BACKEND_PORT=9000
FRONTEND_PORT=9001

# DOCKER
COMPOSE_PROJECT_NAME=
APP_ENTRY_PORT=24001
DB_ENTRY_PORT=24002

# ROOT
DEBUG=True

SECRET_KEY=change-me-use-a-long-random-string
ENCRYPTION_KEY=change-me-32-characters-minimum

SQL_DATABASE=fastapi_templatedb
SQL_HOST=localhost
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_PORT=5432

CACHE_REDIS_URL=redis://localhost:6379/1
BROKER_REDIS_URL=redis://localhost:6379/0

# NUXT
NUXT_PUBLIC_BASE_URL=http://localhost:8000
NUXT_PUBLIC_API_PREFIX=/api/v1
# COOKIE_SECURE=True # set to True in production

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=
AWS_STORAGE_BUCKET_NAME=
