/* Gaps */
.gap-sm {
  gap: 8px;
}
.gap-md {
  gap: 16px;
}

/* Section */
.app-section {
    padding: 16px;
  }

  .app-section-negative-padding-x {
    margin: 0 -16px;
  }

  .app-section-negative-padding-y {
    margin: -16px 0;
  }
