$radius-map: (
  'sm': 4px,
  'md': 8px,
  'lg': 16px
);

$size-map: (
  'xs': 20px,
  'sm': 24px,
  'md': 32px,
  'lg': 36px,
  'xl': 40px,
  '2xl': 48px,
  '3xl': 56px,
  '4xl': 64px,
  '5xl': 72px,
  '6xl': 80px,
  '7xl': 88px,
  '8xl': 96px,
  '9xl': 104px,
  '10xl': 112px
);

$title-size-map: (
  'sm': 16px,
  'md': 18px,
  'lg': 22px,
  'xl': 26px,
);


$weight-map: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
);

// Keep in sync with `colorTokens` in template-ui-tokens.ts
$colors-map: (
  'red': (
    var(--p-red-500),
    true
  ),
  'orange': (
    var(--p-orange-500),
    true
  ),
  'yellow': (
    var(--p-yellow-500),
    false
  ),
  'green': (
    var(--p-green-500),
    true
  ),
  'teal': (
    var(--p-teal-500),
    true
  ),
  'blue': (
    var(--p-blue-500),
    true
  ),
  'purple': (
    var(--p-purple-500),
    true
  ),
  'pink': (
    var(--p-pink-500),
    true
  ),
  'primary': (
    var(--p-primary-500),
    true
  ),
  'secondary': (
    var(--p-surface-500),
    false
  ),
  'info': (
    var(--p-sky-500),
    true
  ),
  'success': (
    var(--p-green-500),
    true
  ),
  'warn': (
    var(--p-orange-500),
    true
  ),
  'danger': (
    var(--p-red-500),
    true
  ),
  'contrast': (
    var(--fg-base),
    true
  )
);
